{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <div class="container px-5 mt-5 pt-5">
        <div class="row pt-5">
            <div class="col-12 col-lg-10 col-xl-8 offset-xl-2 offset-lg-1 px-5 py-4 comments">
                <h1 class="m-0 text-white d-flex justify-content-center">Login</h1>
                <hr class="bg-primary my-3">
                {% if request.user.is_authenticated %}
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="text-white">You have already logged in as <span class="text-info">{{ user }}</span>
                        </h3>
                        <h3 class="text-white">Please log out first</h3>
                        <a href="{% url 'auth_logout' %}?next={{ next }}"
                           class="btn btn-outline-primary form-inputs my-3">Log out</a>
                    </div>
                {% else %}
                    <div class="form-group">
                        <form method="post" action="" class="text-white fw-bold">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="w-100 d-flex gap-3">
                                <input class="w-100 btn btn-primary mt-2 p-1 pl-lg-0 form-inputs" type="submit"
                                       value="{% trans 'Log in' %}">
                            </div>
                        </form>
                    </div>
                {% endif %}
                <hr class="bg-primary my-2">
                <div class="d-flex gap-2">
                    <a href="{% url 'pages:home' %}" class="btn btn-primary mt-2 w-100"><p
                            class="my-3 m-lg-0 form-inputs">Go
                        home</p></a>
                    <a href="{% url 'auth_password_reset' %}" class="btn btn-primary mt-2 w-100"><p
                            class="m-0  form-inputs">Forgot password</p></a>
                    <a href="{% url 'registration_register' %}" class="btn btn-primary mt-2 w-100"><p
                            class="form-inputs my-3 m-lg-0">Registration</p></a>
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>

            </div>
        </div>
    </div>
{% endblock %}


