{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
{% if validlink %}
    <div class="container px-5 mt-5 pt-5">
        <div class="row pt-5">
            <div class="col-12 col-lg-10 col-xl-8 offset-xl-2 offset-lg-1 px-5 py-4 comments">
                <h1 class="m-0 text-white d-flex justify-content-center">Reset Password</h1>
                <hr class="bg-primary my-3">
                <form class="form-inputs text-white" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="w-100 d-flex gap-3">
                        <input class="w-100 btn btn-primary mt-4 p-2 pl-lg-0 form-inputs" type="submit" value="{% trans 'Set password' %}">
                    </div>
                    <hr class="bg-primary my-2">
                    <div class="d-flex gap-2">
                        <a href="{% url 'pages:home' %}" class="btn btn-primary mt-2 w-100"><p
                                class="m-0 my-3 my-lg-0 form-inputs">Go
                            home</p></a>
                        <a href="{% url 'auth_password_reset' %}" class="btn btn-primary mt-2 w-100"><p
                                class="m-0 form-inputs">Forgot password</p></a>
                        <a href="{% url 'registration_register' %}" class="btn btn-primary mt-2 w-100"><p
                                class="m-0 my-3 my-lg-0 form-inputs">Registration</p></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
{% endif %}
{% endblock %}



{# This is used by django.contrib.auth #}
