{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<h4 class="mt-5 d-flex justify-content-center w-100 text-white">
    {% blocktrans %}
    We have sent you an email with a link to reset your password.
    {% endblocktrans %}
</h4>
    <h4 class=" d-flex justify-content-center w-100 text-white">
    {% blocktrans %}
        Please check your email and click the link to continue.
    {% endblocktrans %}
</h4>
    <div class="d-flex justify-content-center py-3">
        <a href="{% url 'auth_login' %}" class="btn btn-primary w-25">Log in page</a>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
