{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
    <div class="container-fluid container-lg px-5 pt-5 mt-5 pt-xl-3">
        <div class="row pt-2 pt-xl-0">
            <div class="col-10 col-lg-10 col-xl-8 offset-xl-2 offset-1 px-5 py-4 comments">
                <h1 class="m-0 text-white d-flex justify-content-center">Registration</h1>
                <hr class="bg-primary my-3">
                <div class="form-group text-white">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="w-100 btn btn-primary mt-2 p-1 form-inputs" type="submit" value="Submit">
                    </form>
                </div>
                <hr class="bg-primary my-2">
                <div class="d-flex gap-2 pt-1">
                    <a href="{% url 'pages:home' %}" class="btn btn-primary  w-100">
                        <p class="m-0 form-inputs">Go home page</p>
                    </a>
                    <a href="{% url 'auth_login' %}?next={% url 'pages:home' %}" class="btn btn-primary  w-100">
                        <p class="m-0 form-inputs">Already have an account ?</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


