{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid container-lg px-5 px-lg-0 pb-5 mt-4 mx-auto">
        <!-- BANNER START -->
        <div class="row pb-5">
            <div class="col-12">
                <div id="carouselExampleFade" class="carousel slide carousel-fade mt-3" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        {% for banner in banners %}
                            {% if banner == banners|first %}
                                <div class="carousel-item active p-1">
                                    <a href="{% url 'pages:watch' pk=banner.film.id %}">
                                        <img src="{{ banner.banner_img.url }}" class="banners img-fluid w-100"
                                             alt="...">
                                    </a>
                                </div>
                            {% else %}
                                <div class="carousel-item p-1">
                                    <a href="{% url 'pages:watch' pk=banner.film.id %}">
                                        <img src="{{ banner.banner_img.url }}" class="banners img-fluid w-100"
                                             alt="...">
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- BANNER END -->

        <!-- BODY START -->
        <div class="row mt-3 mx-1">
            <div class="col-12">
                <h2 class="text-white m-0 mx-3" href="#">New</h2>
                <div class="my-slickies my-3">
                    {% for film in all_films %}
                        <div class="slicks position-relative slick-div mx-2">
                            <div class="slicks-inner-div position-absolute w-100 d-none">
                                <div class="position-absolute slicks-inner-content w-100">
                                    <div>
                                        <p class="m-0 ms-2 px-1 text-white">{{ film.year }}
                                            : {{ film.movie_type|lower|capfirst }}</p>
                                        <p class="m-0 mb-3 px-1 mt-1 ms-2 text-white">
                                            {% for genre in film.genre.all %}
                                                {{ genre|lower|capfirst }},
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="px-2 py-1 watch-button position-absolute w-100">
                                        <a href="{% url 'pages:watch' pk=film.pk %}"
                                           class="btn btn-primary p-1 w-100"><p
                                                class="m-0">
                                            Watch</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <img src="{{ film.image.url }}" class="slick-img w-100 h-100" alt="">
                            <a href="#">
                                <p class="text-white film-name mt-1 ms-1">{{ film.name|lower|capfirst }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mt-3 mx-1">
            <div class="col-12">
                <h2 class="text-white m-0 mx-3" href="#">Most rated</h2>
                <div class="my-slickies my-3">
                    {% for film in type_film %}
                        <div class="slicks position-relative slick-div mx-2">
                            <div class="slicks-inner-div position-absolute w-100 d-none">
                                <div class="position-absolute slicks-inner-content w-100">
                                    <div class="">
                                        <p class="m-0 ms-2 px-1 text-white">{{ film.year }}
                                            : {{ film.movie_type|lower|capfirst }}</p>
                                        <p class="m-0 mb-3 px-1 mt-1 ms-2 text-white">
                                            {% for genre in film.genre.all %}
                                                {{ genre|lower|capfirst }},
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="px-2 py-1 watch-button position-absolute w-100">
                                        <a href="{% url 'pages:watch' pk=film.pk %}"
                                           class="btn btn-primary p-1 w-100"><p
                                                class="m-0">
                                            Watch</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <img src="{{ film.image.url }}" class="slick-img w-100 h-100" alt="">
                            <a href="#">
                                <p class="text-white film-name mt-1 ms-1">{{ film.name|lower|capfirst }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mt-3 mx-1">
            <div class="col-12">
                <h2 class="text-white m-0 mx-3" href="#">Films</h2>
                <div class="my-slickies my-3">
                    {% for film in type_film %}
                        <div class="slicks position-relative slick-div mx-2">
                            <div class="slicks-inner-div position-absolute w-100 d-none">
                                <div class="position-absolute slicks-inner-content w-100">
                                    <div>
                                        <p class="m-0 ms-2 px-1 text-white">{{ film.year }}
                                            : {{ film.movie_type|lower|capfirst }}</p>
                                        <p class="m-0 mb-3 px-1 mt-1 ms-2 text-white">
                                            {% for genre in film.genre.all %}
                                                {{ genre|lower|capfirst }},
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="px-2 py-1 watch-button position-absolute w-100">
                                        <a href="{% url 'pages:watch' pk=film.pk %}"
                                           class="btn btn-primary p-1 w-100"><p
                                                class="m-0">
                                            Watch</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <img src="{{ film.image.url }}" class="slick-img w-100 h-100" alt="">
                            <a href="#">
                                <p class="text-white film-name mt-1 ms-1">{{ film.name|lower|capfirst }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mt-3 mx-1">
            <div class="col-12">
                <h2 class="text-white m-0 mx-3" href="#">Cartoons</h2>
                <div class="my-slickies my-3">
                    {% for film in type_cartoon %}
                        <div class="slicks position-relative slick-div mx-2">
                            <div class="slicks-inner-div position-absolute w-100 d-none">
                                <div class="position-absolute slicks-inner-content w-100">
                                    <div>
                                        <p class="m-0 ms-2 px-1 text-white">{{ film.year }}
                                            : {{ film.movie_type|lower|capfirst }}</p>
                                        <p class="m-0 mb-3 px-1 mt-1 ms-2 text-white">
                                            {% for genre in film.genre.all %}
                                                {{ genre|lower|capfirst }},
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="px-2 py-1 watch-button position-absolute w-100">
                                        <a href="{% url 'pages:watch' pk=film.pk %}"
                                           class="btn btn-primary p-1 w-100"><p
                                                class="m-0">
                                            Watch</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <img src="{{ film.image.url }}" class="slick-img w-100 h-100" alt="">
                            <a href="#">
                                <p class="text-white film-name mt-1 ms-1">{{ film.name|lower|capfirst }}</p>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- BODY END -->
{% endblock %}