{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- BODY START  -->
    <div class="container-fluid px-5 pb-5 mt-5">

        <!-- FILM CARDS START -->
        <div class="row mb-5 mx-5">
        {% if object_list %}
            {% for film in object_list %}
                <div class="col-4 col-lg-3 col-xl-2 mt-5">
                    <div class="film-cards position-relative my-4">
                        <div class="film-card-in-div d-none position-absolute w-100 h-100">
                            <div class="film-d-in-div w-100 position-absolute">
                                <p class="m-0 mx-2 mb-1">{{ film.film.year }}: {{ film.film.movie_type }}</p>
                                <p class="m-0 mx-2">{% for genre in film.film.genre.all %}
                                    {{ genre|lower|capfirst }},
                                {% endfor %}</p>
                            </div>
                            <div class="px-2 py-1 position-absolute watch-card-button w-100">
                                <a href="{% url 'pages:watch' pk=film.film.id %}" class="btn btn-primary p-1 w-100">
                                    <p class="m-0">Watch</p>
                                </a>
                            </div>
                        </div>
                        <img src="{{ film.film.image.url }}" class="mb-1 h-100 w-100 img-fluid" alt="">
                        <a href="{% url 'pages:watch' pk=film.pk %}" class=" film-name">
                            <p class="ps-1">{% if film.film.name|length > 35 %}{{ film.film.name|lower|capfirst|slice:'35' }}...{% else %}{{ film.film.name|lower|capfirst }}{% endif %}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="col-12 d-flex justify-content-center">
                    <h3 class="text-white py-5 my-5">You didn't like any film yet.</h3>
                </div>
            {% endif %}
        </div>

            <!-- FILM CARDS END -->
            {% if page_obj.paginator.count >= 25 %}
                <div class="row pt-3">
                    <div class="col-12 d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination ">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    {% if page_obj.number == page %}
                                        <li class="page-item ms-1"><a class="page-link active"
                                                                      href="?page={{ page }}">{{ page }}</a></li>
                                    {% elif page > page_obj.number|add:-6 and page < page_obj.number|add:6 %}
                                        <li class="page-item ms-1"><a class="page-link"
                                                                      href="?page={{ page }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item ms-1">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
        </div>
    <!-- BODY END -->
    {{ years.year }}
{% endblock %}