{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- BODY START -->
    <div class="container-fluid container-lg px-5 px-lg-0 my-5 pb-5 ">
        <div class="row film-detail">
            <div class="col-12  p-5">
                <div class="d-flex justify-content-center">
                    <img src="{{ film.image.url }}" class="img-fluid" alt="">
                    <div class="film-d px-5 my-auto">
                        <p><span>Name :</span> {{ film.name|lower|capfirst }}</p>
                        <P><span>Year :</span> {{ film.year }}</P>
                        <p><span>Genre :</span> {% for i in film.genre.all %}{{ i|lower|capfirst }}, {% endfor %}</p>
                        <p><span>Tags :</span> {% for j in film.tag.all %}{{ j|lower|capfirst }}, {% endfor %}</p>
                        <p><span>Type :</span> {{ film.movie_type|capfirst }}</p>
                        <p><span>Age :</span> {{ film.age }}</p>
                    </div>
                </div>
            </div>
            <div class="px-5">
                <hr class="bg-primary pt-1 m-0">
            </div>
            <!-- DESCRIPTION START -->
            <div class="col-12 film-description mt-4">
                <p class="description d-flex justify-content-center">Description</p>
                {% if film.description|length > 700 %}
                    <p class="px-5 text-">{{ film.description|lower|capfirst|slice:':700' }}
                        <span id="dots">...</span><span id="more">
                        {{ film.description|lower|slice:'700:' }}</span>
                    </p>

                    <button onclick="myFunction()" id="myBtn" class="read-more-button border-0 w-100 py-3 my-1">&#9660;
                        Read
                        more &#9660;
                    </button>
                {% else %}
                    <p class="px-5 text-">{{ film.description|lower|capfirst }}
                    {{ film.description }}
                {% endif %}
            </div>
        </div>
        <!-- DESCRIPTION END -->
        <!-- VIDEO START -->
        <div class="row mt-3">
            <div class="col-12 py-3 px-0 px-lg-5">
                <video controls class="w-100 video p-0 m-0">
                    <source src="{{ film.film_video.url }}" type="video/mp4">
                </video>
                <div class="d-flex mt-2 justify-content-center rating gap-3 py-3">
                    <div class="d-flex my-auto">
                        <p class="text-white m-0"><span class="text-primary">{{ total_likes }}</span> : LIKES</p>
                    </div>
                {% if request.user.is_authenticated %}
                    <form method="POST"  action="{% url 'rating:rate_view' pk=film.id %}">
                    {% csrf_token %}
                        <button value="True" type="submit" name="is_liked" value="{{ film.id }}" class="btn p-0">
                            {% if liked %}
                                <img src="{% static 'img/liked-icon.png' %}" class="img-fluid" alt="">
                            {% else %}
                                <img src="{% static 'img/like.png' %}" class="img-fluid" alt="">
                            {% endif %}
                        </button>
                    </form>
                    <a href="#comments">
                        <img src="{% static 'img/leave-comment.png' %}" alt="">
                    </a>

                    <form method="POST"  action="{% url 'rating:rate_view' pk=film.id %}">
                    {% csrf_token %}
                        <button value="False" type="submit" name="is_liked" value="{{ film.id }}" class="btn p-0">
                            {% if disliked %}
                                <img src="{% static 'img/disliked-icon.png' %}" alt="">
                            {% else %}
                                <img src="{% static 'img/dislike.png' %}" alt="">
                            {% endif %}
                        </button>
                    </form>
                    {% else %}
                    <a class="btn btn-outline-primary" href="{% url 'auth_login' %}">Log in to rate</a>
                {% endif %}
                    <div class="d-flex my-auto">
                        <p class=" m-0 text-white">DISLIKES : <span class="text-primary">{{ total_dislikes }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- VIDEO END -->

        <!-- SIMILAR FILMS START -->
        <div class="row mt-5 mx-1">
            <div class="col-12">
                <a class="c-names m-3" href="#">Similar Films</a>
                <div class="my-slickies my-3">
                    {% for films in related %}
                        <div class="slicks position-relative slick-div mx-2">
                            <div class="slicks-inner-div position-absolute w-100 d-none">
                                <div class="position-absolute slicks-inner-content w-100">
                                    <div>
                                        <p class="m-0 ms-2 text-white">{{ films.year }} :</p>
                                        <p class="m-0 mb-3 ms-1 text-white">
                                            {% for genre in films.genre.all %}{{ genre }}, {% endfor %}</p>
                                    </div>
                                    <div class="px-2 py-1 watch-button position-absolute w-100">
                                        <a href="{% url 'pages:watch' pk=films.id %}" class="btn btn-primary p-1 w-100">
                                            <p class="m-0">Watch</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <img src="{{ films.image.url }}" class="slick-img w-100 h-100" alt="">
                            <a href="#">
                                <p class="text-white film-name mt-1 ms-1">{{ films.name|lower|capfirst }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- SIMILAR FILMS END -->
        <!-- COMMENTS START -->
        <div class="col-12 comments p-3">
            <p class="text-white d-flex justify-content-center description">Comments</p>
            <div class="px-3">
                <hr class="bg-primary pt-1 m-0">
            </div>
            <div class="w-100 mt-3 px-3 gap-3 d-flex flex-column">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="p-3 comment">
                            <div class="d-flex">
                                <p class="text-white ms-2 my-auto">{{ comment.user }}
                                    : {{ comment.created_at|timesince }} ago</p>
                            </div>
                            <p class="text-white p-3 m-0">{{ comment.comment }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="comment">
                        <div class="d-flex justify-content-center">
                            <p class="text-white m-0 my-2   ">There's no any comment yet</p>
                        </div>
                    </div>

                {% endif %}
                {% if request.user.is_authenticated %}
                    <form id="comments" action="{% url 'comment:leave_comment' pk=film.id %}" method="post" class="comment d-flex">
                        {% csrf_token %}
                        <input placeholder="Leave a comment" name="comment" maxlength="1000" required="" id="id_comment"
                               type="text"
                               class="comment-input w-100 p-2 bg-transparent">
                        <button type="submit" class="h-100 btn btn-outline-primary p-3">Submit</button>
                    </form>
                {% else %}
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'auth_login' %}" class="btn btn-outline-primary">If you want to leave a comment,
                            you need to 'Log in' first !</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- COMMENTS END -->
    </div>
    <!-- BODY END -->
{% endblock %}
