/* adamina-regular - latin */
@font-face {
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/adamina-v19-latin-regular.woff2') format('woff2'), 
         url('../fonts/adamina-v19-latin-regular.woff') format('woff');
}

body {
    background-color: rgb(0, 1, 35);
}

.carousel-inner img {
    width: 80%;
    height: 400px;
    border-radius: 15px;
}

.navbar {
    background-color: rgb(0, 1, 50)
}

.active {
    color: blue !important;
}

.brand-icon {
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.carousel, .carousel-inner {
    border-radius: 30px;
}

.brand-name {
    font-family: Adamina;
    font-size: 18px;
}

.banners {
    height: 550px !important;
}

.slick-img {
    border-radius: 5px;
    height: 300px !important;
}

a {
    text-decoration: none;
}

.slicks, .slicks-inner-div {
    height: 380px !important;
}

.main-slick div>a>img, .slicks-inner-div {
    height: 500px !important;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.nav-icon {
    width: 20px;
    height: 20px;
}

.c-names {
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 2;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.c-names:hover, li a:hover {
    color:lightskyblue !important;
}

a {
    font-size: 16px;
    font-family: Adamina;
    font-style: normal;
    color: white;
    font-weight: 400; 
}

.footer{
    border-radius: 15px;
    background-color: rgb(0, 1, 50);
    font-size: 20px;
    font-family: Adamina;
    font-style: normal;
    color: white;
    font-weight: 400;
}

.footer>h1 {
    font-size: 25px;
    font-family: Adamina;
    font-style: normal;
    color: white;
    font-weight: 700;
}

.footer hr {
    color: rgb(140, 0, 255);
    width: 100%;
    border: 2px solid blue;
}

.contact-icons {
    width: 40px;
    height: 40px;
}

.slicks-inner-div a img{
    left: 80%;
    top: 10px;
    width: 30px;
    height: 30px;
}

.slicks-inner-div {
    height: 300px !important;
    border-radius: 5px;
}

.slicks-inner-content {
    top: 30%;
    height: 300px;
}

.slicks-inner-content>.watch-button {
    top: 50%;
}

.slicks-inner-div>div>a {
    width: 100px;
    line-height: 30px;
}

.slick-div:hover .slicks-inner-div {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.600)
}

.film-cards {
    height: 300px;
    text-decoration: none;
}

.film-cards img {
 border-radius: 5px;
}

.film-card-in-div {
    background-color: rgba(0, 0, 0, 0.700)
}

.film-name {
    font-family: Adamina;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
    transition: 0.5s;
}

.film-name:hover{
    color: lightskyblue
}

.film-cards:hover .film-card-in-div {
    display: block !important;    
}

.film-card-img {
    left: 80%;
    width: 35px;
    height: 35px;
}

.film-d-in-div {
    top: 25%;
    transition: 1s;
    color: #ffffff;
}

.page-link {
    border: none;
    color: white;
    background-color: darkblue!important;
}

.page-item>.active {
    color: white!important;
    background-color: blue !important;
}

.page-item>a:hover {
    color: darkgray !important;
}

.filter-div {
    border-radius: 15px;
    /* height: 300px; */
    background-color: rgb(0, 1, 50)
}

.filter-div {
    color: white;
}

.selections {
    border: 1px solid darkblue;
    color: #ffffff;
    background-color: rgb(0, 1, 35);
    outline: none !important;
    width: 150px;
}

.selections option {
    border: none;
}

.watch-card-button {
    top: 80%;
}

option {
    border-left: 3px solid red;
}

.film-detail {
    border-radius: 15px;
    background-color: rgb(0, 1, 50);
}

.film-detail img {
    border-radius: 10px;
    height: 400px;
}

.account-link:hover {
    color: #ffffff !important;
}

.film-d {
    color: #ffffff;
    font-family: Adamina;
    font-weight: 400;
    font-style: normal;
    font-size: 22px; 
    line-height: 2;
    letter-spacing: 1px;
}

.film-d span {
    color: lightskyblue;
}

.film-description .description, .comments>.description {
    color: #fff;
    font-family: Adamina;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 2px;
}

.film-description p {
    color: #fff;
    font-size: 21px;
    line-height: 1.1;
}

.video {
    border-radius: 5px;
    border: none;
    outline: none;
}

.rating {
    border-radius: 5px;
    background-color: rgb(0, 1, 50);
}

.rating img {
    width: 40px;
    height: 40px;
}

.read-more-button {
    background-color: transparent;
    color: #ffffff;
    transition: 0.5s;
    outline: none;
}

.read-more-button:hover {
    color: lightskyblue;
}

#more {
    display: none;
    transition: 1s;
}

.comments {
    background-color: rgb(0, 1, 50);
    border-radius: 15px;
}

.comment {
    border: 1px solid #0d6dfd57;
    border-radius: 15px;
    background-color: rgba(1, 2, 43, 0.9);
}

.comment-input {
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.comment>button{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 200px;
}

.form-inputs {
    font-size: 18px;
}

.slick-prev,
.slick-next {
    padding-bottom: 100px !important;
}

@media (max-width: 991px) {
    .brand-name {
        font-size: 40px !important;
    }

    .nav-link {
        font-size: 20px;
    }

    .banners {
        height: 400px !important;
    }

    .footer p, a {
        font-size: 20px;
    }

    .film-name {
        font-size: 22px;
    }

    .c-names {
        font-size: 30px !important;
    }

    .slicks-inner-content p {
        font-size: 21px;
    }

    .slicks-inner-div a img {
        width: 35px;
        height: 35px;
    }

    .filter-div p {
        font-size: 22px;
    }

    .film-card-in-div {
        font-size: 22px;
    }

    .film-description p {
        font-size: 25px;
    }

    .comment {
        font-size: 23px;
    }

    .rating{
        font-size: 20px;
    }

    .form-inputs {
        font-size: 18px;
    }

    .contact-icons {
    width: 30px;
    height: 30px;
}
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 1px blue;
}

::-webkit-scrollbar-thumb {
background: rgb(0, 1, 62);
border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
background: darkblue;
}